@charset "utf-8";
.on{
	color: red;	
}
article{
	width: 7.5rem;
	height: auto;
	background: #fff;
}
.w700{
	width: 7rem;
	height: 0.92rem;
	margin: 0 auto;
}
.hidden{
	display: none;
}
.caption{
	height: 0.8rem;
}
.caption img:first-of-type{
	width: 0.44rem;
	height: 0.4rem;
	float: left;
	margin-top: 0.25rem;	
}
.caption h1{
	float: left;
	font-size:0.3rem ;
	color: #3f3f3f;
	line-height: 0.4rem;
	margin-top: 0.25rem;
	margin-left: 0.1rem;
}
.caption  img:nth-of-type(2){
	float: right;
	width: 0.31rem;
	height: 0.26rem;
	margin-top: 0.25rem;
}
.caption  span{
	float: right;
	color: #fe4d44;
	font-size: 0.26rem;
	line-height: 0.3rem;
	margin-top: 0.22rem;
	margin-left: 0.1rem;
}

/*header*/
header{
	width: 7.5rem;
	background: #fff;
}
header .header_top{
	width: 7.5rem;
	height: 0.92rem;
	background: #f0f0f0;
	position: relative;
}
header .header_top img:first-of-type{
	width: 1.56rem;
	height: 0.37rem;
	position: absolute;
	left:0.2rem ;
	top: 0.23rem;
}

header .header_top img:nth-of-type(2){
	width: 0.6rem;
	height: 0.6rem;
	position: absolute;
	right: 1.2rem;
	top: 0.17rem;
}
header .header_top img:nth-of-type(3){
	width: 0.6rem;
	height: 0.6rem;
	position: absolute;
	right: 0.2rem;
	top: 0.17rem;
}

 aside{
	width: 2.5rem;
	height: 100%;
	background: #242e30;
	position: fixed;
	right:-2.5rem;
	top: 0;
	z-index: 2;
}
aside ul li{
	font-size: 0.3rem;
	color: #fff;
	border-bottom: 1px solid #fff;
	text-align: center;
	width:2.55rem;
	height:0.6rem;
	line-height: 0.6rem;
}
aside ul li{
	
}
.swiper-container .swiper-wrapper img{
	width: 7.5rem;
	height: 3rem;	
}
/*轮播小圆圈颜色*/
.swiper-pagination-bullet-active{
	background: #fe3c24;
}
header .ul{
	width: 7.5rem;
	height: 2rem;
	background: #f6f6f6;
	margin: 0 auto;
}
header .ul ul{
	box-sizing: content-box;
	width: 6.6rem;
	height: 1.5rem;
	margin: 0 auto;
	padding-top: 0.3rem;
	background: #f6f6f6;
}
header .ul ul li{
	float: left;
	width: 1.4rem;
}
header .ul ul li:last-of-type{
	width: 1rem;
}
header .ul ul li img{
	width: 0.9rem;
	height: 0.9rem;
}
header .ul ul li p{
	font-size: 0.3rem;
	color: #3c3c3c;
}

/*留学头条*/
.headline{
	width: 7.5rem;
	height: 0.9rem;
	margin: 0 auto;
	background: #fff;
}

.headline img{
	width:1.48rem;
	height:0.35rem;
	float: left;
	margin-top:0.25rem;
}
.headline ul{
	width: 5.3rem;
	height:0.3rem;
	float: right;
	margin-left:0.15rem;
	margin-top:0.25rem;
	overflow: hidden;
	
}
.headline ul li{
	height:0.3rem;
	line-height: 0.35rem;
	font-size: 0.24rem;
	color:#3c3c3c;
}

/*我是*/
.h430{
	width: 7.5rem;
	height: 4.3rem;
	background: #f5f5f5;
}
.h430 ul{
	width: 7.5rem;
	height: 4.3rem;
}
.h430 ul li{
	box-sizing: content-box;
	width: 2.38rem;
	height: 2rem;
	float: left;
}
.h430 ul li:first-child{
	margin-top: 0.3rem;
	background: url(../images/bg-block-1.jpg) no-repeat center;
	
}
.h430 ul li:nth-child(2){
	background: url(../images/bg-block-2.jpg) no-repeat center;
	margin-top: 0.3rem;
	margin-left:0.18rem; 
}
.h430 ul li:nth-child(3){
	background: url(../images/bg-block-3.jpg) no-repeat center;
	margin-top: 0.3rem;
	margin-left:0.18rem; 
}
.h430 ul li:nth-child(4){
	background: url(../images/bg-block-4.jpg) no-repeat center;
	width: 3.66rem;
	height: 1.55rem;
	margin-top: 0.2rem;
}
.h430 ul li:nth-child(5){
	background: url(../images/bg-block-5.jpg) no-repeat center;
	margin-left:0.18rem; 
	width: 3.66rem;
	height: 1.55rem;
	margin-top: 0.2rem;
}
.h430 ul li:first-child h1,.h430 ul li:nth-child(2) h1,.h430 ul li:nth-child(3) h1{
	width: 1.55rem;
	height: 0.4rem;
	font-size: 0.26rem;
	line-height: 0.4rem;
	border-radius: 0 0.2rem 0.2rem 0;
	background:rgba(52,49,52,0.3); 
	color: #fff;
	padding-left: 0.15rem;
	margin-top: 0.25rem;
	margin-bottom: 0.2rem;
}
.h430 ul li:nth-child(4) h1,.h430 ul li:nth-child(5) h1{
	font-size: 0.3rem;
	line-height: 0.7rem;
	color: #fff;
	padding-left: 0.15rem;
}
.h430 ul li p{
	display: flex;
	color: #fff;
	padding-left: 0.13rem;
	font-size: 0.2rem;
	line-height: 0.35rem;
}
/*留学目的地*/
.destination{
	width: 7.5rem;
	height: 5.8rem;
	background:#fff;
	border-bottom: 0.3rem solid #f5f5f5;
}

.destination .swiper-container ul{
	height: 4.5rem;
	margin: 0 auto;	
}
.destination .swiper-container ul li{
	float: left;
	width: 1.3rem;
	text-align: center;
	margin-right: 0.6rem;
	margin-top:0.4rem; 
}
.destination ul li:nth-of-type(4),.destination ul li:nth-of-type(8){
	margin-right: 0;
}
.destination .swiper-container ul li img{
	width: 1.2rem;
	height: 1.2rem;
}
.destination .swiper-container ul li p{
	font-size: 0.26rem;
	color: #3c3c3c;
}

/*热门留学院校*/
.school{
	box-sizing: border-box;
	width: 7.5rem;
	height: 10.8rem;
	border-bottom: solid 0.3rem #f5f5f5;
}
.school hr{
	height: 0.01rem;
	background: #f6f6f6;
}
.school >ul{
	width: 7.5rem;
	height: 0.9rem;
	margin: 0 auto;
	text-align: center;
	display: flex;
}
.school>ul li{
	width:1.6rem;
	line-height: 0.9rem;
	color: #828282;
	border-bottom: solid 0.02rem #d2d2d2;
}
.school>ul li:hover{
	color: #fe3e26;	
	border-bottom: solid 0.02rem #fe3e26;
}
/*.on{
	color: #fe3e26;	
	border-bottom: solid 0.02rem #fe3e26;
}*/
.school{
	width: 7.5rem;
	height: auto;
}
.school .h720{
	height: 7.1rem;
}
.school .h720 ul{
	
}
.school .h720 ul li{
	height: 1.4rem;
	border-bottom: solid 0.02rem #f5f5f5;
}
.school .h720 ul li .hot{
	display: inline-block;
	width: 0.36rem;
	height: 0.36rem;
	background: #fe3c24;
	border-radius: 0.05rem;
	color: #fff;
	text-align: center;
	line-height:0.36rem;
}
.school .h720 ul li .recommend{
	display: inline-block;
	width: 0.36rem;
	height: 0.36rem;
	background: #ff8b20;
	border-radius: 0.05rem;
	color: #fff;
	text-align: center;
	line-height:0.36rem;
}
.school .h720 ul li .less{
	display: inline-block;
	width: 1rem;
	height: 0.36rem;
	border: solid 1px #23cd77;
	border-radius: 0.05rem;
	color: #23cd77;
	text-align: center;
	line-height:0.36rem;
}
.school .h720 ul li .more{
	display: inline-block;
	width: 1rem;
	height: 0.36rem;
	border: solid 1px #fe3c24;
	border-radius: 0.05rem;
	color: #fe3c24;
	text-align: center;
	line-height:0.36rem;
}
.school .h720 ul li h1{
	display: inline-block;
	font-size: 0.3rem;
	color:#2a2a2a;
	margin-top: 0.15rem;
	line-height: 0.6rem;
}
.school .h720 ul li p{
	font-size: 0.24rem;
	line-height: 0.4rem;
	color: #c3c3c3;
	white-space: nowrap;
	overflow: hidden;
}
.school .h720 ul li img{
	float: right;
	width: 0.2rem;
	height: 0.36rem;
	margin-top: 0.55rem;
}
.school .click_more{
	display:block;
	height: 0.75rem;
	border: 1px solid #d3d3d3;
	text-align: center;
	line-height: 0.75rem;
	color: #6d6d6d;
	margin: 0.2rem auto 0.2rem auto;;
	font-size: 0.3rem;
	background: #fff;
	
}
.school .add{
	height: 4rem;	
}

/*两张图片*/
.img{
	width: 7.5rem;
	height: 1.5rem;
	border-bottom: solid 0.3rem #f5f5f5;
}
.img div:first-child{
	float: left;
	background: url("../images/back_btn1.png"); no-repeat center;
	width: 3.75rem;
	height: 1.5rem; 
}
.img div:last-child{
	float: right;
	background: url("../images/back_btn2.png"); no-repeat center;
	width: 3.75rem;
	height: 1.5rem; 
}
.img img{
	width: 0.77rem;
	height: 0.76rem;
	float: left;
	margin-left: 0.3rem;
	margin: 0.3rem 0.15rem 0 0.25rem;
}
.img h1{
	font-size: 0.36rem;
	color: #fff;
	line-height: 0.5rem;
	margin-top: 0.2rem;
}
.img p{
	font-size: 0.26rem;
	line-height: 0.5rem;
	color: #fff;;
}
/*优选留学方案*/
.plan{
	width: 7.5rem;
	/*height: 8.4rem;*/
	height: auto;
	border-bottom: solid 0.3rem #f5f5f5;
}
.plan .caption img[class="xia"]{
	width: 0.36rem;
	height: 0.2rem;
	margin-top: 0.35rem;
}
.plan hr:nth-of-type(1){
	width: 7.5rem;
	height: 0.3rem;
	background: #eee;
}

.plan .list{
	height: 3.25rem;
	background: #f6f6f6;	
}
.plan .list ul{
	width:7.5rem;
	height: 0.8rem;
	margin:0 auto;
	
}
.plan .list ul li{
	float: left;
	width:3.75rem;
	height: 0.8rem;	
	border-bottom: 1px solid #eeeeee;
}
.plan .list ul li img{
	width:0.4rem;
	height: 0.39rem;
	float: left;
	margin-top: 0.2rem;
	margin-left:0.2rem ;
	
}
.plan .list ul li p{
	float: left;
	font-size: 0.24rem;
	line-height: 0.8rem;
	margin-left: 0.1rem;
}


.plan hr:nth-of-type(2){
	width: 7.5rem;
	height: 1px;
	background: #f5f5f5;
}
.plan ul {
	height: 4.7rem;
}
.plan ul li{
	height:0.93rem;
	border-bottom: solid 0.01rem #f5f5f5;
}
.plan ul li .hot{
	display: inline-block;
	width: 0.36rem;
	height: 0.36rem;
	background: #fe3c24;
	border-radius: 0.05rem;
	color: #fff;
	text-align: center;
	line-height:0.36rem;
}
.plan ul li .recommend{
	display: inline-block;
	width: 0.36rem;
	height: 0.36rem;
	background: #ff8b20;
	border-radius: 0.05rem;
	color: #fff;
	text-align: center;
	line-height:0.36rem;
}
.plan ul li h1{
	display: inline-block;
	font-size: 0.26rem;
	color:#2a2a2a;
	line-height: 0.9rem;
}
.plan ul li img{
	float: right;
	width: 0.2rem;
	height: 0.36rem;
	margin-top: 0.25rem;
}
.plan .one{
	width: 4.1rem;
	height: 0.7rem;
	border:1px solid #ff7b00;
	text-align: center;
	margin: 0.2rem auto 0.2rem auto;
}
.plan .one p{
	font-size: 0.3rem;
	line-height: 0.7rem;
	color: #ff7b00;
}

/*留学精彩专题*/
.topic{
	width: 7.5rem;
	height: 5.9rem;
	border-bottom: solid 0.3rem #f5f5f5;
}
.topic hr{
	width: 7.5rem;
	height: 1px;
	background: #f5f5f5;
}
.topic .wrap{
	width: 7.25rem;
	height: 5.1rem;
	position: relative;
	margin: 0 auto;
}
.topic .wrap div{
	position: absolute;
}
.topic .wrap div:first-child{
	background: url(../images/index_img.jpg);
	background-size: 100%;
	width: 2.9rem;
	height: 2.9rem;
	top: 0.25rem;
}
.topic .wrap div:nth-child(2){
	background: url(../images/index_img1.jpg);
	background-size: 100%;
	width: 4.14rem;
	height:1.36rem;
	top: 0.25rem;
	right: 0;
}
.topic .wrap div:nth-child(3){
	background: url(../images/index_img2.jpg);
	background-size: 100%;
	width: 1.97rem;
	height:1.36rem;
	top: 1.8rem;
	right: 2.2rem;
	
}
.topic .wrap div:nth-child(4){
	background: url(../images/index_img3.jpg);
	background-size: 100%;
	width: 1.97rem;
	height:1.36rem;
	top: 1.8rem;
	right: 0;
}
.topic .wrap div:nth-child(5){
	background: url(../images/index_img4.jpg);
	background-size: 100%;
	width: 3.52rem;
	height:1.36rem;
	bottom: 0.4rem;
}
.topic .wrap div:nth-child(6){
	background: url(../images/index_img5.jpg);
	background-size: 100%;
	width: 3.52rem;
	height:1.36rem;
	bottom: 0.4rem;
	right: 0;
}
.topic .wrap div p{
	margin: 0.5rem 0 0 0.2rem;
	font-size: 0.3rem;
	color: #fff;
	line-height: 0.4rem;
}
.topic .wrap div:nth-child(3) p{
	margin: 0.3rem 0 0 0.2rem;
}
.topic .wrap div:nth-child(4) p:first-child{
	margin: 0.3rem 0.2rem 0 0;
	float: right;
}
.topic .wrap div:nth-child(4) p:nth-child(2){
	margin: 0 0.2rem 0 0;
	
	float: right;
}

/*留学无忧*/
.person{
	width: 7.5rem;
	height: 4.5rem;
	border-bottom: solid 0.3rem #f5f5f5;
	margin-bottom:1rem ;
}
.person .h110{
	box-sizing: border-box;
	width: 7.5rem;
	height: 1.1rem;
	text-align: center;
	margin: 0 auto;
	border-bottom: solid 0.01rem #f5f5f5;
	
}
.person .h110 p{
	font-size: 0.34rem;
	color: #6b7279;
	line-height: 1.1rem;
}
.person ul{
	width: 6.5rem;
	height: 3.4rem;
	margin: 0 auto;
}
.person ul li:nth-child(2n+1){
	float: left;
	width: 3.5rem;
	height: 1rem;
	margin-top: 0.5rem;
}
.person ul li:nth-child(2n+2){
	float: right;
	width: 3rem;
	height: 1rem;
	margin-top: 0.5rem;
}
.person ul li img{
	width: 0.93rem;
	height: 0.92rem;
	vertical-align: middle;
}
.person ul li:nth-child(2n+1) div{
	width: 2.2rem;
	height: 1rem;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.1rem;
}
.person ul li:nth-child(2n+2) div{
	width: 1.95rem;
	height: 1rem;
	display: inline-block;
	vertical-align: middle;
}
.person ul li  div h1{
	color: #fe3c24;
}
.person ul li  div p{
	font-size: 0.24rem;
	color: #8b8b92;
}

/*底部*/
footer{
	z-index: 1;
	width: 7.5rem;
	height: 1rem;
	background: #fff;
	position: fixed;
	bottom: 0;
}

footer ul{
	height: 1rem;	
	display: flex;
	justify-content: space-between;
	margin-top:0.1rem;
}
footer ul li{
	width: 1.87rem;
	height: 1rem;
	text-align: center;
}
footer ul li img{
	width: 0.5rem;
	height: 0.49rem;
}
footer ul li p{
	font-size: 0.2rem;
	color: #929292;
	line-height: 0.5rem;
}


/*动画按钮*/
.animation{
	width: 100%;
	height: 1.32rem;
	position: fixed;
	bottom: 1rem;
	left: 0.1rem;
	z-index: 1;
}
.animation>img{
	z-index: 2;
}
.animation>img:first-child{
	width: 1.06rem;
	height: 1.09rem;
	position: fixed;
	bottom: 1rem;
	left: 0.1rem;
	
}
.animation>img:nth-of-type(2){
	width: 0.76rem;
	height: 1.32rem;
	position: fixed;
	bottom: 1rem;
	right: 0rem;
	
}
.animation .animation_left a{
	width:0.77rem;
	height: 0.77rem;
}
.animation .animation_left img{
 	position: absolute;
 	bottom: 0.2rem;
	left: 0.1rem;
	z-index: 1;
}
.animation .animation_left a img{
	width:0.77rem;
	height: 0.77rem;
	z-index:1;
}
.animation_right{
	display: none;
	width: 6.18rem;
	height: 4.92rem;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -3.09rem;
	margin-top: -2.46rem;
	background: url("../images/back_btn3.png");
	background-size: 100%;
	z-index: 100;
}
.animation_right .ques{
	width: 4.9rem;
	height: 0.64rem;
	background: #ffed74;
	border-radius:0.15rem;
	text-align: center;
	line-height: 0.64rem;
	position: absolute;
	top: 2.33rem;
	left:0.63rem ;
}
.animation_right .search input{
	text-indent: -0.7rem;
	width: 2.9rem;
	height: 0.55rem;
	border-radius:0.15rem;
	line-height: 0.55rem;
	position: absolute;
	bottom: 1.1rem;
	left:0.63rem ;
	text-align: center;
}
::-webkit-input-placeholder{
	font-size: 0.24rem;
	color: #d3d3d3;
}
::-moz-input-placeholder{
	font-size: 0.24rem;
	color: #d3d3d3;
}
::-ms-input-placeholder{
	font-size: 0.24rem;
	color: #d3d3d3;
}
::-o-input-placeholder{
	font-size: 0.24rem;
	color: #d3d3d3;
}
.animation_right .search button{
	width: 1.75rem;
	height: 0.55rem;
	border-radius:0.15rem;
	background: #fe3c24;
	position: absolute;
	bottom: 1.1rem;
	right:0.63rem ;
	color: #fff;
	font-size: 0.26rem;
	line-height: 0.55rem;
}
.animation_right img{
	width: 0.54rem;
	height: 0.54rem;
	position: absolute;
	top: -0.27rem;
	right: -0.27rem;
}

.bg{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(52,49,52,0.5);
	z-index: 9;
}
